@model List<Slide>

@{
    int count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slide Table</h4>

            <a asp-controller="Slide" asp-action="Create" class="btn btn-success">Create Slide </a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                 Image
                            </th>
                             <th>
                                Title
                            </th>
                            <th>
                                Order
                            </th>
                            <th>
                                Settings
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Slide slide in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                   <img style="width:100px;height:100px;" src="~/assets/images/slider/@slide.Image" />
                                </td>
                                <td>
                                    @slide.Title
                                </td>
                                <td>
                                    @slide.Order
                                </td>
                                <td>
                                    <a asp-action="update" asp-controller="slide" asp-route-id="@slide.Id" class="btn btn-warning btn-info"><i class="mdi mdi-grease-pencil"></i></a>
                                    <a asp-action="delete" asp-controller="slide" asp-route-id="@slide.Id" class="btn btn-danger btn-info"><i class="mdi mdi-delete"></i></a>
                                    <a asp-action="detail" asp-controller="slide" asp-route-id="@slide.Id" class="btn btn-primary btn-info"><i class="mdi mdi-open-in-new"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>