@model PaginateVM<Tag>

@{
    int count = (Model.CurrentPage)*3;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> Tags Table</h4>

            <a asp-controller="Tag" asp-action="Create" class="btn btn-success">Create Tag </a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Products Count
                            </th>
                            <th>
                                Settings
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Tag tag in Model.Items)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @tag.Name
                                </td>
                                <td>
                                    @tag.ProductTags.Count
                                </td>
                                <td>
                                    <a asp-action="update" asp-controller="tag" asp-route-id="@tag.Id" class="btn btn-warning btn-info"><i class="mdi mdi-grease-pencil"></i></a>
                                    <a asp-action="delete" asp-controller="tag" asp-route-id="@tag.Id" class="btn btn-danger btn-info"><i class="mdi mdi-delete"></i></a>
                                    <a asp-action="detail" asp-controller="tag" asp-route-id="@tag.Id" class="btn btn-primary btn-info"><i class="mdi mdi-open-in-new"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination" style="justify-content:center">
                    <li class="page-item @(Model.CurrentPage==0?"disabled":"")">
                        <a class="page-link" asp-route-page="@(Model.CurrentPage-1)" asp-action="Index" asp-controller="Tag" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item @(i==Model.CurrentPage?"disabled":"")"><a class="page-link" asp-route-page="@(i-1)" asp-action="Index" asp-controller="Tag">@i</a></li>
                    }
                    <li class="page-item @(Model.CurrentPage==Model.TotalPage?"disabled":"")">
                        <a class="page-link" asp-route-page="@(Model.CurrentPage+1)" asp-action="Index" asp-controller="Tag" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>