@model List<Color>

@{
    int count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Color Table</h4>

            <a asp-controller="Color" asp-action="Create" class="btn btn-success">Create Color </a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Color color in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @color.Name
                                </td>
                                <td>
                                    @color.ProductColors
                                </td>
                                <td>
                                    <a asp-action="update" asp-controller="color" asp-route-id="@color.Id" class="btn btn-warning btn-info"><i class="mdi mdi-grease-pencil"></i></a>
                                    <a asp-action="delete" asp-controller="color" asp-route-id="@color.Id" class="btn btn-danger btn-info"><i class="mdi mdi-delete"></i></a>
                                    <a asp-action="detail" asp-controller="color" asp-route-id="@color.Id" class="btn btn-primary btn-info"><i class="mdi mdi-open-in-new"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>