@model List<Product>

@{
    int count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product Table</h4>

            <a asp-controller="Product" asp-action="Create" class="btn btn-success">Create Product </a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Settings
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Product product in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    <img style="width:100px;height:100px;" src="~/assets/images/website-images/@product.ProductImages.FirstOrDefault()?.Url" />
                                </td>
                                <td>
                                    @product.Name
                                </td>
                                <td>
                                    @product.Price
                                </td>
                                <td>
                                    @product.Category.Name
                                </td>
                                <td>
                                    <a asp-action="update" asp-controller="product" asp-route-id="@product.Id" class="btn btn-warning btn-info"><i class="mdi mdi-grease-pencil"></i></a>
                                    <a asp-action="delete" asp-controller="product" asp-route-id="@product.Id" class="btn btn-danger btn-info"><i class="mdi mdi-delete"></i></a>
                                    <a asp-action="detail" asp-controller="product" asp-route-id="@product.Id" class="btn btn-primary btn-info"><i class="mdi mdi-open-in-new"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>